@page
@model BDS_ML.Areas.Identity.Pages.Account.Manage.ConfirmationEmailRegisterModel
@{
    ViewData["Title"] = "Xác minh email của bạn";
}


<header>
    <h1>@ViewData["Title"]</h1>

    <p class="text-text-sm-center">Chúng tôi đã gửi đường dẫn xác minh đến tài khoản email bạn đăng kí.</p>
    <p class="text-text-sm-center">Vui lòng kiểm tra email của bạn để xác minh tài khoản hợp lệ.</p>
    <p class="text-text-sm-danger">Vui lòng kiểm tra trong thư mục spam nếu không tìm thấy.</p>


</header>




