@page
@model BDS_ML.Areas.Identity.Pages.Account.ConfirmEmailExpireModel
@{
    ViewData["Title"] = "Xác minh email không thành công";
}
<h1>@ViewData["Title"]</h1>

<div class="section">
    <div class="container">
        <div class="row">
            <div class="text-center">
                <p>
                    Không thể xác nhận email của bạn.
                </p>
                <a class="nav-link text-secondary" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Quay về Trang cá nhân!</a>
            </div>
        </div>

    </div>
</div>