@page
@model ConfirmEmailModel
@{
    ViewData["Title"] = "Xác minh email thành công";
}

<h1>@ViewData["Title"]</h1>
<div>
    <p>
        Cảm ơn bạn đã xác minh email của bạn.
    </p>
    <a class="nav-link text-success" asp-area="" asp-controller="Home" asp-action="Index">Về Trang chủ</a>
</div>
