@page

@model ExternalExistEmailModel
@{
    ViewData["Title"] = "Đã tồn tại";
}


<div class="section">
    <div class="container">
        <div class="row">
            <div class="text-center">
                <h1>@ViewData["Title"]</h1>
                <p>
                    Email trong tài khoản liên kết của bạn đã được sử dụng cho tài khoản liên kết khác.
                </p>
                <p>
                    Đăng nhập bằng tài khoản liên kết đó và thêm tài khoản liên kết này.
                </p>
                <a class="nav-link text-success" asp-area="" asp-controller="Home" asp-action="Index">Về Trang chủ</a>
            </div>
        </div>

    </div>
</div>