@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Đã gửi xác nhận đổi mật khẩu";
}

<div class="section">
    <div class="container">
        <h1>@ViewData["Title"]</h1>
        <p>
            Vui lòng kiểm tra email của bạn để thiết lập lại mật khẩu của bạn.
        </p>
    </div>
</div>

