@page
@model ResetPasswordConfirmationModel
@{
    ViewData["Title"] = "Reset password confirmation";
}

<div class="section">
    <div class="container">
        <h1>@ViewData["Title"]</h1>
        <p>
            Mật khẩu của bạn đã được thiết lập lại. Xin vui lòng kiểm tra email và <a asp-page="./Login">nhấn vào đây để đăng nhập</a>.
        </p>
    </div>
</div>
