@page
@model ResetPasswordConfirmationModel
@{
    ViewData["Title"] = "Mọi thứ đã hoàn tất";
}

<div class="section">
    <div class="container">
        <h1>@ViewData["Title"]</h1>
        <p>
            Mật khẩu của bạn đã được thiết lập lại. <a asp-page="./Login">Nhấn vào đây để đăng nhập</a>.
        </p>
    </div>
</div>
