@{
    Layout = "~/Views/Shared/_Layout_custom_manage_account.cshtml";
}

@*<h1>Quản lí tài khoản</h1>*@

<div>
    @*<h4>Thay đổi thông tin tài khoản</h4>*@
    <hr />
    <div class="row">
        @*<div class="col-md-1">

        </div>*@

        <div class="col-md-12">
            @RenderBody()
        </div>
        @*<div class="col-md-2">

        </div>*@
    </div>
</div>

@section Scripts {
    @RenderSection("Scripts", required: false)
}
