@page
@model BDS_ML.Areas.Identity.Pages.Account.Manage.IndexAdminModel
@{
    ViewData["Title"] = "Thông tin tài khoản";
    ViewData["ActivePage"] = ManageNavPages.Index;
}
@inject UserManager<ApplicationUser> UserManager
@*<h4>@ViewData["Title"]</h4>*@

<div class="breadcrumbs">
    <div class="col-sm-4">
        <div class="page-header float-left">
            <div class="page-title">
                <h1>Tài khoản</h1>
            </div>
        </div>
    </div>
    <div class="col-sm-8">
        <div class="page-header float-right">
            <div class="page-title">
                <ol class="breadcrumb text-right">
                    <li>Tài khoản</li>
                    <li class="active">Thông tin tài khoản</li>
                </ol>
            </div>
        </div>
    </div>
</div>
<partial name="_StatusMessage" for="StatusMessage" />
<div class="col-lg-2">
</div>
<div class="col-lg-8">
    <div class="card">
        <div class="card-header">
            <strong>Thông tin tài khoản</strong>
        </div>
        <div class="card-body card-block">
            <form id="profile-form" method="post" class="form-horizontal">
               
                <div class="row form-group">
                    <div class="col col-md-1">

                    </div>
                    <div asp-validation-summary="All" class="text-danger"></div>
                </div>
                <div class="row form-group">
                    <div class="col col-md-3"> <label>Email đăng nhập</label></div>
                    <div class="col-12 col-md-9">
                        <input asp-for="Username" class="form-control" disabled />
                    </div>

                </div>
                <div class="row form-group">
                    <div class="col col-md-3">
                        <label>Email xác thực</label>
                    </div>
                    <div class="col-12 col-md-9">
                        @if (Model.IsEmailConfirmed)
                        {
                            <div class="input-group">
                                <input asp-for="Input.Email" class="form-control" />
                                <span class="input-group-addon" aria-hidden="true"><span class="fa fa-check text-success"></span></span>
                            </div>
                        }
                        else
                        {
                            <input asp-for="Input.Email" class="form-control" />
                            <button id="email-verification" type="submit" asp-page-handler="SendVerificationEmail" class="btn btn-link" title="Xác minh địa chỉ email">Xác minh email</button>
                        }
                        <span asp-validation-for="Input.Email" class="text-danger"></span>
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col col-md-3">
                        <label asp-for="Input.PhoneNumber"></label>
                    </div>
                    <div class="col-12 col-md-9">
                        <input asp-for="Input.PhoneNumber" class="form-control" />
                        <span asp-validation-for="Input.PhoneNumber" class="text-danger"></span>
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col col-md-3">
                        <label>Họ tên</label>
                    </div>
                    <div class="col-12 col-md-9">
                        <input asp-for="Input.FullName" class="form-control" />
                        <span asp-validation-for="Input.FullName" class="text-danger"></span>
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col col-md-3">
                        <label>Địa chỉ</label>
                    </div>
                    <div class="col-12 col-md-9">
                        <input asp-for="Input.Address" class="form-control" />

                        <span asp-validation-for="Input.Address" class="text-danger"></span>
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col col-md-3">
                        <label>Loại tài khoản</label>
                    </div>
                    <div class="col-12 col-md-9">
                        @{
                            if (User.IsInRole("Admin"))
                            {
                                <input class="form-control" value="Admin" readonly="readonly" />
                            }
                            else if (User.IsInRole("User"))
                            {
                                <input class="form-control" value="User" readonly="readonly" />
                            }
                        }



                    </div>
                </div>

                <div class="card-footer">
                    <button id="update-profile-button" type="submit" class="btn btn-primary" title="Lưu">Lưu</button>
                   <a class="btn btn-secondary" asp-area="Identity" asp-page="/Account/Manage/IndexAdmin" title="Hủy">Hủy</a>
                </div>
            </form>
          
        </div>

    </div>

</div>
<div class="col-lg-2">
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
