@model BDS_MLML.Model.ModelInput

@{
    ViewData["Title"] = "Dự đoán giá nhà sử dụng ML.NET";
}
<!-- Breadcrumb -->
<div class="section site-breadcrumb">
    <div class="container">
        <a href="@Url.Action("Index", "Home")"><i class="fa fa-home"></i>Home </a>
        <span><i class="fa fa-angle-right"></i> Dự đoán giá nhà</span>
    </div>
</div>

<section class="section">
    <div class="container">
        <div class="row">

            <div class="col-md-4">
                <form asp-action="Predict" asp-controller="Predict">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="Size" class="control-label"></label>
                        <input asp-for="Size" type="number" class="form-control" />
                        <div class="input-group-btn"><span class="btn btn-primary">m²</span></div>
                        <span asp-validation-for="Size" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Floor" class="control-label"></label>
                        <input asp-for="Floor" type="number" class="form-control" />
                        <span asp-validation-for="Floor" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Bedroom" class="control-label"></label>
                        <input asp-for="Bedroom" type="number" class="form-control" />
                        <span asp-validation-for="Bedroom" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Bathroom" class="control-label"></label>
                        <input asp-for="Bathroom" type="number" class="form-control" />
                        <span asp-validation-for="Bathroom" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Yard" class="control-label"></label>
                        <input asp-for="Yard" type="number" class="form-control" />
                        <span asp-validation-for="Yard" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <input type="submit" value="Dự đoán" class="btn btn-default" />
                    </div>
                </form>
            </div>
            <div class="col-md-offset-2 col-md-4">
                @if (ViewBag.Price != null)
                {
                    <h1>Kết Quả</h1>
                    <h2>Giá dự đoán: @ViewBag.Price</h2>
                }
            </div>
        </div>
    </div>
</section>
