@model BDS_MLML.Model.ModelInput

@{
    ViewData["Title"] = "Dự đoán giá nhà sử dụng ML.NET";
}

<!-- Breadcrumb -->
<div class="breadcrumb" style="margin-bottom: 0;">
    <a href="@Url.Action("Index", "Home")"><i class="fa fa-home"></i>Home </a>
    <span><i class="fa fa-angle-right"></i> Dự đoán giá nhà</span>
</div>

<section class="section">
    <div class="container">
        <div class="row">

            <div class="col-md-4">
                <form asp-action="Predict" asp-controller="Predict">
                    @*<div asp-validation-summary="ModelOnly" class="text-danger"></div>*@
                    <div class="form-group">
                        <label class="control-label">Diện tích</label>
                        <div class="input-group">
                            <input type="number" asp-for="Living_area" class="form-control" min="0" required placeholder="Diện tích theo m²" />
                            <div class="input-group-btn"><span class="btn btn-primary">m²</span></div>
                        </div>
                        <span asp-validation-for="Living_area" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label class="control-label">Năm xây dựng</label>
                        <div class="input-group">
                            <input type="number" asp-for="Year_built" class="form-control" required placeholder="Năm xây dựng" min="1900" max="2014" />
                            <div class="input-group-btn"><span class="btn btn-primary">Năm</span></div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label">Số lượng phòng</label>
                        <div class="input-group">
                            <input type="number" asp-for="Num_room" class="form-control" required value="1" min="0" max="14" />
                            <div class="input-group-btn"><span class="btn btn-primary">Phòng</span></div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label">Số lượng giường</label>
                        <div class="input-group">
                            <input type="number" asp-for="Num_bed" class="form-control" required value="1" min="0" max="6" />
                            <div class="input-group-btn"><span class="btn btn-primary">Phòng</span></div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label">Số lượng nhà vệ sinh</label>
                        <div class="input-group">
                            <input type="number" asp-for="Num_bath" class="form-control" required value="1" min="0" max="14" />
                            <div class="input-group-btn"><span class="btn btn-primary">Phòng</span></div>
                        </div>
                    </div>

                    <div class="form-group text-center">
                        <input type="submit" value="Dự đoán" class="btn btn-default" />
                    </div>
                </form>
            </div>
            <div class="col-md-offset-2 col-md-4">
                @if (ViewBag.Price != null)
                {
                    <h1>Kết Quả</h1>
                    <h3>Giá dự đoán: @ViewBag.Price USD</h3>
                    <h3>Giá dự đoán: @ViewBag.PriceVN VNĐ</h3>
                }
            </div>
        </div>
    </div>
</section>
